// Header 
.c-header {
	background-color: $c-blue;
	background-image: linear-gradient(#16c4fe, #119ff3);
	padding: 2em 2em 5em 2em;
	position: relative;
	
	h1 {
		color: $t-white;
		text-align: center;
	}
	
	&__balance-area {
		width: 80%;
		margin: 0 auto;
		border-radius: 10px;
		padding: 1em;
		background-color: #fff;
		color: $c-black;
		position: absolute;
		bottom: -8em;
		left: 0;
		right: 0;
	}
	
	&__balance-current-label {
		text-align: center;
		font-size: $font-size-sm;
		font-weight: 300;
	}
	
	&__balance-current-title {
		text-align: center;
		font-size: $font-size-xl;
		font-weight: 300;
	}
	
	&__balance-secondary {
		display: flex;
		justify-content: space-around;
	}
	
	&__balance-secondary-label {
		font-size: $font-size-sm;
		font-weight: 300;
	}
	
	&__balance-secondary-title {
		font-weight: 300;
	}
}