// Header 
.c-header {
	background-color: $c-blue;
	background-image: linear-gradient(#16c4fe, #119ff3);
	padding: 2em 2em 5em 2em;
	position: relative;
	
	h1 {
		color: $t-white;
		text-align: center;
	}
	
	&__balance-area {
		width: 90%;
		margin: 0 auto;
		padding: 1em;
		background-color: #fff;
		color: $c-black;
		position: absolute;
		bottom: -3em;
		left: 0;
		right: 0;
	}
	
	&__balance-current-title {
		text-align: center;
		font-size: 14px;
	}
	
	&__balance-current {
		text-align: center;
		font-size: 30px;
	}
}